<div class="container container-global">
  <%# <div class="ml-5 mr-5 pl-5 pr-5 rounded"> %>
    <h2>Nouvelle chevelure</h2>
    <div><%= simple_form_for @hair do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :color, collection: Hair::COLORS %>
      <%= f.input :nature, collection: Hair::TYPES %>
      <%= f.input :quantity %>
      <%= f.input :hair_length %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file,
                  required: true %>
        <div class="form-actions">
        <%= f.button :submit, "Envoie ta chevelure!" %>
        <%end%>
      </div>
    </div>
</div>


<div id="my-footer">
  <ul class="list-inline">
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></li>
    <li><a href="#"><i class="fab fa-twitter-square"></i></li>
    <li><a href="#"><i class="fab fa-youtube"></i></li>
  </ul>
</div>
