

  <div class="container-global">

<!-- ========================================================================= -->
      <div class="row">
        <div class="col-12 col-lg-8">
          <div>
            <h1 class="titre"><%= @hair.title %></h1>
          </div>
          <div>
            <div>
              <h2 id="user_name"><span class="graisse size-23"><%= @hair.user.name %></span> te loue ses cheveux </h2>
              <h4 class= "gristresclair p_bottom"><%= @hair.user.address %></h4>
              <h2>pour la modique somme de <span class="graisse"><%= @hair.price %> €.</span></h2>
            </div>
            <div class="show_hair_div">
              <div>
                <div class="color_hair_card" style="background-image: url('<%= image_path "colors/#{@hair.color}.jpg" %>')">
                  <div class="car_footer">
                    <h4><%= @hair.color %></h4>
                  </div>
                </div>
              </div>
              <div>
                <div class="nature_hair_card" style="background-image: url('<%= image_path "nature_hair/#{@hair.nature}.svg" %>')">
                  <div class="car_footer">
                    <h4><%= @hair.nature %></h4>
                  </div>
                </div>
              </div>
              <h3> <span class="graisse"><%= @hair.hair_length %></span> </h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div>
            <img src="<%= image_path "Chewbacca.jpg" %>" alt="" class="photo_show" >
          </div>
        </div>
      </div>
      <%#= cl_image_tag @user.photo.key %>
<!-- ========================================================================= -->
    <div class="show_hair_div2">
      <!-- enfant n°1 -->
      <div>
        <div class="border-bottom marge_hair">
          <h3><%= @hair.description %></h3>
        </div>

        <div class="border-bottom marge_hair">
          <h3><em style="font-weight: thin;">Soins Particuliers</em></h3>
          <h4>Attendre que la colonne 'soins particuliers' soient seedés et migres dns le modele hair</h4>
        </div>


        <%= link_to "Contacter le propiétaire", "#" %>

      </div>
      <!-- enfant n°2 -->
      <div class="form_loc">
        <%= render "locations/form", hair: @hair, location: @location %>
      </div>
    </div>

  </div>
