<div class="navbar-bg navbar-content">
  <div class="navbar-content w-100">
    <%= link_to "hairbnb", root_path, class: "logo" %>
    <div>tgt</div>
    <div class="navbar-content">
      <div class="navbar-content">
        <i class="fas fa-globe mr-2"></i>
        <i class="fas fa-angle-down"></i>
      </div>
      <div class="navbar-content ml-4">
        <i class="fas fa-bars"></i>
        <div class="ml-2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, :width=>30, :height=>30, :radius=>"max", crop: :thumb, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> -->
                <% else %>
                <%= image_tag "Chewbacca.jpg",  :width=>30, :height=>30,  class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Louer ma chevelure", new_hair_path, class: "dropdown-item" %>
                <%= link_to "Mes locations", locations_path, class: "dropdown-item" %>
                <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
